.timer {
    position: fixed;
    right: 5vw;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.timeLeft {
    font-weight: bold;
    font-size: 30px;
    color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .timer {
      display: none; /* Nascondi l'elemento sui schermi piccoli */
    }
  }